---
import { Image } from 'astro:assets';
import astroLogo from '../assets/astroLogo.png';
---

<footer class="footer">
    <div class="footer-container">
        <span>Built with: </span>
        <a href="https://astro.build" target="_blank" rel="noopener noreferrer">
            <Image 
                src={astroLogo} 
                alt="Astro Logo" 
                class="astro-logo"
            />
        </a>
    </div>
</footer>